@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  --webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tippy-box {
  color: white;
  border-radius: 6px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 2px 4px !important;
  text-align: center;
  margin-bottom: 5px !important;
  background: black !important;
  transition-duration: 200ms !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}

.tippy-box[data-state="hidden"] {
  opacity: 0;
  transform: scale(0.9) translateY(10px);
}

.tippy-box[data-state="visible"] {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.tippy-arrow {
  color: black !important;
}

.custom-underline {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.custom-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.3px;
  background: #FFFFFF;
  margin-top: -3px;
}